<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Syntactically Awesome Style Sheets" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sass: Components</title>

    <link
      rel="alternate"
      type="application/atom+xml"
      href="/feed.xml" />

    <link rel="apple-touch-icon" sizes="152x152" type="image/png" href="/icon.png">
    <link rel="icon" type="image/png" sizes="152x152" href="/icon.png">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link
      href="https://fonts.googleapis.com/css?family=Source+Code+Pro::ital,wght@0,400;0,600;1,400|Source+Sans+Pro:300,400,600|Source+Serif+Pro"
      media="screen"
      rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/@docsearch/css@alpha"
      media="screen"
      rel="stylesheet" />
    <link
      href="/assets/dist/css/sass.css"
      media="screen"
      rel="stylesheet" />

    <noscript>
      <link
        href="/assets/dist/css/noscript.css"
        media="screen"
        rel="stylesheet" />
    </noscript>

    <!-- Google Analytics (https://developers.google.com/analytics/devguides/collection/gtagjs). -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-535380-14"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-535380-14');
    </script>
  </head><body data-layout="body" class="styleguide components">
    <!--[if lt IE 9]>
    <p class="browserupgrade">
    You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.
    </p>
    <![endif]-->

    <header
  class="sl-r-banner"
  itemtype="https://schema.org/WPHeader"
  itemscope="itemscope"
  role="banner">
  
    <div class="sl-c-alert sl-c-alert--special">
      <div class="sl-l-container">
        <h2 class="sl-c-alert-title">Black Lives Matter</h2>
        <p>Sass stands with the protesters against police violence. We encourage our users to <strong>get in the streets and join them if you<span class="widont">&nbsp;</span>can</strong>.</p>

      </div>
    </div>
  

  <div class="sl-c-pop-stripe"></div>
  <div class="sl-l-container">
    <div class="sl-l-grid sl-l-grid--full sl-l-large-grid--fit sl-l-large-grid--center sl-l-large-grid--gutters">
      <p class="sl-l-grid__column sl-r-banner__brand">
        <a href="/"><img
            height="48"
            alt="Sass"
            src="/assets/img/logos/logo.svg"></a>
      </p>

      <nav
  class="sl-r-banner__navigation sl-l-grid__column sl-l-large-grid sl-l-large-grid__column--auto-size sl-c-list-horizontal-wrapper"
  itemtype="https://schema.org/SiteNavigationElement"
  itemscope="itemscope"
  role="navigation"
  aria-label="Site navigation">
<ul>
<li><a href="/install">Install</a></li>
<li><a href="/guide">Learn Sass</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/documentation">Documentation</a></li>
<li><a href="/community">Get Involved</a></li>
<li>
<div id="docsearch"></div>
</li>
</ul>
</nav>

    </div>
  </div>
</header>


    <main class="content" id="main-content" itemprop="mainContentOfPage" role="main">
      
        <h1 class="sl-l-container">Components</h1>
      

      <div class="sl-l-container sl-color--white-background sl-l-section">
        
<div class="sl-l-medium-holy-grail">
  <div class="sl-l-medium-holy-grail__body">
    <nav class="sl-l-medium-holy-grail__navigation" role="navigation" aria-label="Content navigation">
  <nav class="sl-c-list-navigation-wrapper">
<h3><a href="/styleguide">Style Guide</a></h3>
<ul>
<li><a href="/styleguide/brand">Brand</a></li>
<li><a href="/styleguide/color">Color</a></li>
<li><a href="/styleguide/typography">Typography</a></li>
<li><a href="/styleguide/layout">Layout</a></li>
<li><a href="/styleguide/components">Components</a></li>
<li><a href="/styleguide/code">Code</a></li>
</ul>
</nav>

</nav>


    <div class="sl-l-medium-holy-grail__main">
      <div class="sl-l-container sl-l-container--small">
        



        <h2 id="closed" tabindex="-1">Closed<a class="anchor" href="#closed"><span class="visuallyhidden">Closed permalink</span></a></h2>
<dl class="sl-c-description-list sl-c-description-list--horizontal">
  <div>
    <dt>Dart Sass</dt>
    <dd>✓</dd>
  </div>
  <div>
    <dt>Ruby Sass</dt>
    <dd>since 3.5.0</dd>
  </div>
  <div><a href="#">▶︎</a></div>
</dl>
<h2 id="open" tabindex="-1">Open<a class="anchor" href="#open"><span class="visuallyhidden">Open permalink</span></a></h2>
<dl class="sl-c-description-list sl-c-description-list--horizontal">
  <div>
    <dt>Dart Sass</dt>
    <dd>✓</dd>
  </div>
  <div>
    <dt>Ruby Sass</dt>
    <dd>since 3.5.0</dd>
  </div>
  <div><a href="#">▼</a></div>
</dl>
<div class="sl-c-callout">
  <p>Ad reprehenderit amet officia in eu cillum. Et mollit qui dolor exercitation aute Lorem sint sint fugiat incididunt. Laboris quis sint veniam proident Lorem elit id culpa nisi magna laborum incididunt non commodo. Aliquip eu ut in cupidatat minim<span class="widont">&nbsp;</span>veniam.</p>
</div>
<h2 id="alerts" tabindex="-1">Alerts<a class="anchor" href="#alerts"><span class="visuallyhidden">Alerts permalink</span></a></h2>
<div class="sl-c-alert">
  <div class="sl-l-container">
    <p>
      <strong>Alert</strong>
      Laborum nisi nostrud ad dolor proident adipisicing eu officia in id commodo qui occaecat<span class="widont">&nbsp;</span>dolor.
    </p>
  </div>
</div>
<div class="sl-c-alert sl-c-alert--info">
  <div class="sl-l-container">
    <p>
      <strong>Info Alert</strong>
      Duis velit occaecat adipisicing ut sunt cillum<span class="widont">&nbsp;</span>voluptate.
    </p>
  </div>
</div>
<h2 id="buttons" tabindex="-1">Buttons<a class="anchor" href="#buttons"><span class="visuallyhidden">Buttons permalink</span></a></h2>
<p><a href="#" class="sl-c-button">Link</a>
<button class="sl-c-button" type="button">Button</button></p>
<p><a href="#" class="sl-c-button sl-c-button--primary">Link</a>
<button class="sl-c-button sl-c-button--primary" type="button">Button</button></p>
<h2 id="callouts" tabindex="-1">Callouts<a class="anchor" href="#callouts"><span class="visuallyhidden">Callouts permalink</span></a></h2>
<div class="sl-c-callout">
<h3 id="callout" tabindex="-1">Callout<a class="anchor" href="#callout"><span class="visuallyhidden">Callout permalink</span></a></h3>
<p>Adipisicing minim adipisicing ex anim culpa est. Ut elit elit ea qui magna dolor enim ex quis pariatur in laboris. Culpa laboris esse enim sint excepteur. Irure culpa eiusmod reprehenderit aliqua nulla eu eu aliqua magna labore sit. Occaecat veniam tempor id aliqua eiusmod id veniam tempor enim pariatur est in. Laboris elit fugiat deserunt amet qui non ullamco pariatur<span class="widont">&nbsp;</span>eiusmod.</p>
</div>
<div class="sl-c-callout sl-c-callout--warning">
<h3 id="warning" tabindex="-1">Warning<a class="anchor" href="#warning"><span class="visuallyhidden">Warning permalink</span></a></h3>
<p>Ad elit incididunt laborum adipisicing ea in consequat. Quis eu duis nisi nisi in nulla consequat cillum. Aliquip sint tempor aliquip commodo labore ipsum veniam non. Irure fugiat reprehenderit eu sit velit adipisicing ad voluptate non fugiat exercitation. Nisi deserunt nostrud reprehenderit nulla aute fugiat proident ullamco est anim proident aliquip<span class="widont">&nbsp;</span>sunt.</p>
</div>
<div class="sl-c-callout sl-c-callout--fun-fact">
<h3 id="fun-fact" tabindex="-1">Fun Fact<a class="anchor" href="#fun-fact"><span class="visuallyhidden">Fun Fact permalink</span></a></h3>
<p>In ullamco dolore in ut culpa labore laborum ad mollit mollit minim mollit nostrud proident. Eiusmod officia est dolor in est magna esse sit adipisicing sit. Sit nostrud cupidatat quis culpa culpa eiusmod cillum velit et do anim. Officia aute duis excepteur ut aliquip consequat fugiat. Officia ipsum adipisicing nulla laborum elit mollit elit consectetur cillum elit elit duis consequat tempor. Cupidatat exercitation enim velit deserunt esse consectetur irure<span class="widont">&nbsp;</span>proident.</p>
</div>
<h2 id="introduction" tabindex="-1">Introduction<a class="anchor" href="#introduction"><span class="visuallyhidden">Introduction permalink</span></a></h2>
<p class="sl-c-introduction">
  Ullamco nulla anim adipisicing dolor aliquip proident reprehenderit occaecat culpa est. Irure dolor duis eu est pariatur quis id dolor reprehenderit laborum ad et eiusmod deserunt. Laboris laborum duis in do do non do occaecat mollit quis eiusmod dolore ad qui. Fugiat occaecat voluptate reprehenderit tempor voluptate in enim proident consequat tempor amet<span class="widont">&nbsp;</span>enim.
</p>
<div class="sl-c-introduction">
  <p>Exercitation aliquip sunt consectetur nostrud incididunt nostrud officia mollit culpa excepteur nisi. Aliqua in eu sit irure ipsum sunt laborum. In enim officia ea ullamco voluptate id non nostrud consectetur consectetur in ut<span class="widont">&nbsp;</span>occaecat.</p>
</div>
<h2 id="link-headers" tabindex="-1">Link Headers<a class="anchor" href="#link-headers"><span class="visuallyhidden">Link Headers permalink</span></a></h2>
<h2 id="link-header-2" tabindex="-1">Link Header 2<a class="anchor" href="#link-header-2"><span class="visuallyhidden">Link Header 2<span class="widont">&nbsp;</span>permalink</span></a></h2>
<h3 id="link-header-3" tabindex="-1">Link Header 3<a class="anchor" href="#link-header-3"><span class="visuallyhidden">Link Header 3<span class="widont">&nbsp;</span>permalink</span></a></h3>
<h4 id="link-header-4" tabindex="-1">Link Header 4<a class="anchor" href="#link-header-4"><span class="visuallyhidden">Link Header 4<span class="widont">&nbsp;</span>permalink</span></a></h4>
<h2 id="lists" tabindex="-1">Lists<a class="anchor" href="#lists"><span class="visuallyhidden">Lists permalink</span></a></h2>
<div class="sl-c-list-navigation-wrapper" style="height: unset; position: unset">
<ul>
<li><a href="#">Vertical</a></li>
<li><a href="#">Navigation</a></li>
<li><a href="#">List</a></li>
</ul>
</div>
<div class="sl-c-list-horizontal-wrapper">
<ul>
<li><a href="#">Horizontal</a></li>
<li><a href="#">Navigation</a></li>
<li><a href="#">List</a></li>
</ul>
</div>
<h2 id="pop-stripe" tabindex="-1">Pop Stripe<a class="anchor" href="#pop-stripe"><span class="visuallyhidden">Pop Stripe permalink</span></a></h2>
<div class="sl-c-pop-stripe"></div>
<h2 id="tables" tabindex="-1">Tables<a class="anchor" href="#tables"><span class="visuallyhidden">Tables permalink</span></a></h2>
<table class="sl-c-table">
  <tr>
    <td>Table</td>
    <td>Table</td>
  </tr>
</table>

      </div>
    </div>
  </div>
</div>

      </div>

      <div class="sl-c-alert">
        <div class="sl-l-container sl-c-list-horizontal-wrapper" aria-labelledby="release-nav">
          <ul class="sl-l-grid--justify-center">
            <li id="release-nav">Current Releases:</li>
            <li><span class="release-name"><a href="/dart-sass">Dart Sass</a> <a href="https://github.com/sass/dart-sass/releases/tag/1.63.6">1.63.6</a></span></li>
            <li><span class="release-name"><a href="/libsass">LibSass</a> <a href="https://github.com/sass/libsass/releases/tag/3.6.5">3.6.5</a></span></li>
            <li><span class="release-name"><a href="/ruby-sass">Ruby Sass</a> <span aria-label="coffin" role="presentation">⚰</span></span></li>
            <li class="sl-l-grid__column sl-l-large-grid__column--auto-size"><a href="/implementation">Implementation Guide</a></li>
          </ul>
        </div>
      </div>

      
    </main>

    <footer
  class="site-footer contentinfo"
  itemtype="https://schema.org/WPFooter"
  itemscope="itemscope"
  role="contentinfo">
  <div class="sl-l-container sl-l-section">
    <div class="sl-l-grid sl-l-grid--full sl-l-large-grid--fit sl-l-large-grid--center sl-l-large-grid--gutters">
      <div class="sl-l-grid__column">
        <p>Sass © 2006–2023 the Sass team, and numerous contributors.
It is available for use and modification under the <a href="https://github.com/sass/dart-sass/blob/main/LICENSE"><span class="caps">MIT</span><span class="widont">&nbsp;</span>License</a>.</p>


        <nav class="sl-c-list-horizontal-wrapper">
<ul>
<li><a href="https://github.com/sass">Sass on GitHub</a></li>
<li><a href="https://github.com/sass/sass-site">Website Source Code</a></li>
<li><a href="/styleguide">Style Guide</a></li>
<li><a href="/community-guidelines">Community Guidelines</a></li>
</ul>
</nav>

      </div>
      <div class="sl-l-grid__column sl-l-large-grid__column--auto-size sl-l-large-grid--justify-right">
        <a
          class="twitter-follow-button"
          href="https://twitter.com/SassCSS"
          data-show-count="false"
          data-size="large">Follow @SassCSS</a>
        <a href="https://www.macstadium.com/"><img
            alt="Powered by MacStadium"
            class="mac-stadium-icon"
            src="https://uploads-ssl.webflow.com/5ac3c046c82724970fc60918/5c019d917bba312af7553b49_MacStadium-developerlogo.png"></a>
      </div>
    </div>
  </div>
</footer>


    <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@alpha"></script>
    <script>
      docsearch({
        container: '#docsearch',
        appId: 'Q9MULQONSV',
        indexName: 'sass-lang',
        apiKey: '2ebc7881b79986f58dc2f424769bf3fc',
        transformItems: function(hits) {
          var domain = window.location.origin + "/";
          hits.forEach(function(hit) {
            if (! hit.url.startsWith(domain)) {
              hit.url = hit.url.replace(/^https?:\/\/[^\/]+\//, domain);
            }
          });
          return hits;
        }
      });
    </script>
    <script>
      !function(d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0],
          p = /^http:/.test(d.location)
            ? 'http'
            : 'https';
        if (! d.getElementById(id)) {
          js = d.createElement(s);
          js.id = id;
          js.src = p + '://platform.twitter.com/widgets.js';
          fjs.parentNode.insertBefore(js, fjs);
        }
      }(document, 'script', 'twitter-wjs');
    </script>
    <script src="/assets/dist/js/sass.js"></script>
    <!-- Current page: /styleguide/components/ -->
  </body>
</html>
